.profile-page{
    background-color: #985F6F;
}

.my-listings{
    background-color: #A6B1E1;
    border-style: solid;
    border-width: 3px;
    border-color: #4E4C67;
}

.post-listing{
    background-color: #A6B1E1;
}