<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="" type="">
</head>
<body>
    <nav>
        <ul>
            <li>Search Bar</li>
            <li>
                <a href="login.html">Login</a>
            </li>
            <li>
                <a href="signup.hmtl">Sign Up</a>
            </li>
            <li>
                <a href="profile.html">Profile</a>
            </li>
        </ul>
    </nav>

    <div class="dropdown">
        <button onclick="dropFunction()" class="dropButton">Filter</button>
        <div id="mainFilters" class="filterDropdowns">
            <button onclick="dropFunction()" class="mainDrop-content">Brand</button>
                <div id="subFilters" class="subDropdowns">Ford</div>
                <div id="subFilters" class="subDropdowns">Chevy</div>
                <div id="subFilters" class="subDropdowns">Toyota</div>
            <button onclick="dropFunction()" class="mainDrop-content">Type</button>
                <div id="subFilters" class="subDropdowns">Car</div>
                <div id="subFilters" class="subDropdowns">Truck</div>
                <div id="subFilters" class="subDropdowns">Van</div>
            <button onclick="dropFunction()" class="mainDrop-content">Model</button>
                <div id="subFilters" class="subDropdowns">F-150</div>
                <div id="subFilters" class="subDropdowns">Raptor</div>
                <div id="subFilters" class="subDropdowns">Bronco</div>
            <button onclick="dropFunction()" class="mainDrop-content">Color</button>
                <div id="subFilters" class="subDropdowns">Black</div>
                <div id="subFilters" class="subDropdowns">Red</div>
                <div id="subFilters" class="subDropdowns">Blue</div>
            <button onclick="dropFunction()" class="mainDrop-content">Year</button>
                <div id="subFilters" class="subDropdowns">2022</div>
                <div id="subFilters" class="subDropdowns">2021</div>
                <div id="subFilters" class="subDropdowns">2020</div>
            <button onclick="dropFunction()" class="mainDrop-content">Miles</button>
                <div id="subFilters" class="subDropdowns">Less than 30,000</div>
                <div id="subFilters" class="subDropdowns">Less than 50,000</div>
                <div id="subFilters" class="subDropdowns">Less than 70,000</div>
            <button onclick="dropFunction()" class="mainDrop-content">Price</button>
                <div id="subFilters" class="subDropdowns">$5,000 - $10,000</div>
                <div id="subFilters" class="subDropdowns">$10,000 - $20,000</div>
                <div id="subFilters" class="subDropdowns">$20,000 - $30,000</div>
            <button onclick="dropFunction()" class="mainDrop-content">Condition</button>
                <div id="subFilters" class="subDropdowns">Good</div>
                <div id="subFilters" class="subDropdowns">Alright</div>
                <div id="subFilters" class="subDropdowns">Bad</div>
        </div>
    </div>

    <div class="listings" href="">
        <div class="listing-url">picture goes here</div>
        <div class="listing-info">
            <p class="car-info">Brand:</p>
            <p class="car-info">Model:</p>
            <p class="car-info">Year:</p>
            <p class="car-info">Price:</p>
        </div>
    </div>

</body>
</html>