.filters-btn-group{
    background-color: #DCEDFF;
}

.btn-primary{
    background-color: #94B0DA;
    border-color: #8F91A2;
}

.theHomePage{
    background-color: #505A5B;
}

.homepage-listings{
    background-color: #8F91A2;
}