.filters-btn-group{
    background-color: #A6B1E1;
    border-style: solid;
    border-width: 3px;
    border-color: #4E4C67;
}

.btn-primary{
    background-color: #B4869F;
    border-style: solid;
    border-width: 1.5px;
    border-color: #4E4C67;
}

.theHomePage{
    background-color: #985F6F;
}

.homepage-listings{
    background-color: #A6B1E1;
    border-style: solid;
    border-width: 3px;
    border-color: #4E4C67;
}