<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Page</title>
    <link rel="stylesheet" href="" type="">
</head>
<body>
    <h1>Car Name Goes Here? Maybe</h1>

    <div class="veichle-images"><img src="" alt="Car Picture"></div>

    <p>Veichle Information</p>
    <div class="listingpage-info">
        <p>Brand: Ford</p>
        <p>Type: Truck</p>
        <p>Model: Bronco</p>
        <p>Year: 2022</p>
        <p>Price: $60,000</p>
        <p>Color: Black</p>
        <p>Milage: 30,000</p>
        <p>Condition: Good</p>
    </div>

    <div class="contact-info">
        <p>Name: Random Name</p>
        <p>Phone: ###-###-####</p>
        <p>Email: email@email.com</p>
        <p>City, Sate</p>

    </div>
    <div class="additional-info">
        <p>stole it from some dude but he probably didn't need it anyways so it's alright :)</p>
    </div>
</body>
</html>